igraph==1.0.0
matplotlib==3.10.9
networkx==3.6.1
numpy==2.3.5
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu12==12.8.57
pyg-lib==0.5.0+pt27cu128
pyparsing==3.3.2
python-louvain==0.16
scikit-learn==1.8.0
scipy==1.17.1
torch==2.7.0+cu128
torch-geometric==2.7.0
torch_cluster==1.6.3+pt27cu128
torch_scatter==2.1.2+pt27cu128
torch_sparse==0.6.18+pt27cu128
torchvision==0.22.0+cu128
leidenalg==0.11.0
